@model Data.Models.ViewModel.VMAuth

<h1>Login</h1>

<form method="post" asp-action="Login">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Login</h2>
			<hr />
		</div>

		<div class="mb-3">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Password"></label>
			<input asp-for="Password" class="form-control" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px; display:block">Create</button>
		<a asp-area="Reader" asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to  main page
		</a>
	</div>
</form>