@model IEnumerable<Data.Models.Subscription>

<h1>Subscription</h1>

@foreach(var el in Model){
	<div style="background-color:black; border-color:white; border:medium; color:white">
			<h2>@el.Title</h2>
		<a href="/Reader/checkout/MoreinfoSubscription/@el.SubscriptionId">more info</a>
		<div style="background-color:gray">
			<h2>Publish</h2>
			@foreach (var itemPub in el.Publish)
			{
				<p style="color:aquamarine">@itemPub.Title</p>
			}
			<a style="color:white; background-color:black; width:100px; height:50px" href="/Reader/checkout/CreateOrder/@el.SubscriptionId"> Buy</a>
		</div>
		</div>
}